{% extends 'base.html.twig' %}
{% block title %}Courses{% endblock %}

{% block body %}
    <a href="/course/new" class="btn btn-primary btn-lg btn-block">Add New Course</a>
    {% if courses %}
    <table id="tableCourses" class="table table-striped">
      <thead>
        <tr>
          <th>Course Name</th>

          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {% for course in courses %}
          <tr>
            <td>{{ course.name}}</td>
            <td>
              <a href="/courses/{{ course.id }}" 
              class="btn btn-dark">Info</a>
              
              <a href="/courses/edit/{{ course.id }}" class="btn btn-light">Edit</a>
              
              <a href="#" class="btn btn-danger delete-course" 
              
              data-id="{{ course.id }}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No courses to display</p>
  {% endif %}
{% endblock %}

{% block javascripts %}
  <script src="/js/deleteCourse.js"></script>
{% endblock %}