{% extends 'base.html.twig' %}
{% block title %}Classes{% endblock %}

{% block body %}
    <a href="/class/new" class="btn btn-primary btn-lg btn-block">Add New Class</a>
    {% if classes %}
    <table id="tableClasses" class="table table-striped">
      <thead>
        <tr>
          <th>Class Name</th>

          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for clss in classes %}
          <tr>
            <td>{{ clss.name}}</td>
            <td>
              <a href="/classes/{{ clss.id }}" 
              class="btn btn-dark">Info</a>
              
              <a href="/classes/edit/{{ clss.id }}" class="btn btn-light">Edit</a>
              
              <a href="#" class="btn btn-danger delete-class" 
              
              data-id="{{ clss.id }}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No classes to display</p>
  {% endif %}
{% endblock %}

{% block javascripts %}
  <script src="/js/deleteClass.js"></script>
{% endblock %}