{% extends 'base.html.twig' %}
{% block title %}Students{% endblock %}

{% block body %}
    <h4>First Name    : {{ student.firstName }}</h4><br>
    <h4>Last Name     : {{ student.lastName }}</h4>
    {# <h4>Date of Birth : {{ (student.dateOfBirth).format('Y-m-d') }}</h4>  #}
    <img src="{{ student.getImageName() }}">
{% endblock %}