{% extends 'base.html.twig' %}
{% block title %}Students{% endblock %}

{% block body %}
    <a href="/student/new" class="btn btn-primary btn-lg btn-block">Add New Student</a>
    {% if students %}
    <table id="table" class="table table-striped">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>

          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
          <tr>
            <td>{{ student.firstName}}</td>
            <td>{{ student.lastName}}</td>
            <td>
              <a href="/students/{{ student.id }}" 
              class="btn btn-dark">Info</a>
              
              <a href="/students/edit/{{ student.id }}" class="btn btn-light">Edit</a>
              
              <a href="#" class="btn btn-danger delete-student" 
              
              data-id="{{ student.id }}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No students to display</p>
  {% endif %}
{% endblock %}

{% block javascripts %}
  <script src="/js/deleteStudent.js"></script>
{% endblock %}