<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
<div class="container">
  <a href="/" class="navbar-brand">OBsoft</a>
  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#mobile-nav" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mobile-nav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="/students" class="nav-link">Students</a>
      </li>
      <li class="nav-item">
        <a href="/classes" class="nav-link">Classes</a>
      </li>
      <li class="nav-item">
        <a href="/courses" class="nav-link">Courses</a>
      </li>
    </ul>
  </div>
</div>
</nav>